<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
  </nav>
    <div class="card-body">

        <div class="card">
            <h2>Detail Page</h2>
            <div class="card-body">
                <div class="container">
                    <div class="jumbotron">
                      <form class="needs-validation" [formGroup]="userForm" (ngSubmit)="updateUser()">
                        <div class="mb-3">
                            <label for="emailInput" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="emailInput" placeholder="Email" name="userEmail" required formControlName="email">
                            <div class="valid-feedback">Email is valid.</div>
                            <div class="invalid-feedback">Email is required.</div>
                          </div>

                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name:</label>
                            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" required formControlName="firstName">
                            <div class="valid-feedback">First name is valid.</div>
                            <div class="invalid-feedback">First Name is required.</div>
                        </div>

                        <div class="mb-3">
                          <label for="lastName" class="form-label">Last Name:</label>
                          <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" required formControlName="lastName"> 
                          <div class="valid-feedback">Last Name is valid.</div>
                          <div class="invalid-feedback">Last name is required.</div>
                        </div>
                        <button type="submit"class="btn btn-primary" style="margin-right: 20px;">Update</button>
                      </form>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</div>
