<div class="container">
    <div class="card">
        <h2>Users</h2>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" style="margin-right: 0.9rem;" class="btn btn-outline-primary btn-sm " data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-plus-lg"></i> Add user
          </button>
        </div>

        <div class="card-body">
          <div class="alert alert-dark" role="alert" *ngIf="users.length == 0">
            No member(s) in the list
          </div>
          <div class="card" *ngIf="users.length > 0">
            <div class="table-responsive" >
              <table class="table itm-table">
                  <thead>
                    <tr>
                      <th scope="col">Member</th>
                      <th scope="col">Email</th>
                      <th>&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let u of users; let i = index; trackBy: trackByFunc;">
                      <td>
                          <!-- for image -->
                          <img [src]="u.image" alt="">
                          <a href="#" class="user-link">{{u.firstName}} {{u.lastName}}</a>
                          <button type="button" class="btn btn-success btn-sm btn-itm-action" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit">
                            <i class="bi bi-pen-fill"></i>
                          </button>
                          <button type="button" class="btn btn-danger btn-sm btn-itm-action" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove" (click)="removeUser(i)">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                          <button type="button" class="btn btn-light btn-sm btn-itm-action" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View" (click)="viewUser(i)">
                            <i class="bi bi-arrow-right"></i>
                          </button>
                      </td>
                      <td>{{u.email}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>


          <div class="modal" tabindex="-1" id="exampleModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLabel">Add User</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="jumbotron">
                      <form class="needs-validation was-validated" [formGroup]="userForm">
                        <div class="form-group">
                          <div class="form-group">
                            <label for="userEmail" class="form-add">Email:</label>
                            <input type="email" class="form-control" id="userEmail" placeholder="Email" name="userEmail" required formControlName="email">
                            <div class="valid-feedback">Email is valid.</div>
                            <div class="invalid-feedback">Email is required.</div>
                          </div>
                          <label for="firstName" class="form-add">First Name:</label>
                          <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" required  formControlName="firstName">
                          <div class="valid-feedback">First name is valid.</div>
                          <div class="invalid-feedback">First Name is required.</div>
                        </div>
                        <div class="form-group">
                          <label for="lastName" class="form-add">Last Name:</label>
                          <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" required formControlName="lastName"> 
                          <div class="valid-feedback">Last Name is valid.</div>
                          <div class="invalid-feedback">Last name is required.</div>
                        </div>
                        <div class="form-group">
                          <label for="password" class="form-add">Password:</label>
                          <input type="password" class="form-control " id="password" placeholder="Enter password" name="password" required  formControlName="password">
                          <div class="valid-feedback">Password is valid.</div>
                          <div class="invalid-feedback">Password is required.</div>
                        </div>
                        <button type="button" class="btn btn-primary btn-itm-submit" (click)="addUser()" data-bs-dismiss="modal">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
</div>

